## Demonstration Jupyter Notebook on i-validate

Usage: 

1. Edit `config.yaml`
    
    1. Choose validation `location`, `time window`, `metrics`, and `height levels`
    2. Put data sets in the specified `path` in `config.yaml`

3. Run one of the following lines with `Shift` + `Return`/`Enter`

    1. For Windows machine, please run the first line
    2. For Mac and Linux machine, please run the second line
    3. You can edit and comment out either line with `#`

In [1]:
# For Windows: 
# %run -i ../compare.py

# For Mac and Linux: 
%run -i '../compare.py'

validation start time: 2016-09-23 12:00:00
validation end time: 2016-09-25 12:00:00
location: {'lat': 45.57451, 'lon': -120.74734}
variable: wind_speed
truth: sodar

#########################################################################

height a.g.l.: 40
detect masked value at 2016-09-23 16:10:00, convert to NaN
detect masked value at 2016-09-23 16:20:00, convert to NaN
read in sodar_ws from 2016-09-23 00:00:00 to 2016-09-25 23:50:00 every 10 minutes, total of 432 files
checkkk
read in wrf_ws from 2016-09-23 12:00:00 to 2016-09-25 12:00:00 every 5 minutes, total of 577 files
evaluate from 2016-09-23 12:00:00 to 2016-09-25 12:00:00 every 10.0 minutes, total of 289 time steps
289
287
rmse: 0.481
bias: -0.481
bias_pct: -14.859
mae: 1.464
mae_pct: 33.934

In [1]:
%run -i '../compare.py'

validation start time: 2016-09-23 12:00:00
validation end time: 2016-09-25 12:00:00
location: {'lat': 45.57451, 'lon': -120.74734}
baseline dataset: sodar
variable: sodar_ws

#########################################################################

height a.g.l.: 40
read in sodar_ws from 2016-09-24 00:00:00 to 2016-09-25 23:50:00 every 10 minutes, total of 289 files
!!!!!!!!!!
!!!!!!!!!!
WARNING: sodar_ws DATA FILE NUMBER (289) DOES NOT MATCH DESIRED DATA LENGTH (288.0), WHICH IS DEFINED BY DATA START TIME (2016-09-24 00:00:00), DATA END TIME (2016-09-25 23:50:00), AND USER-INPUT DATA FREQUENCY (10)
!!!!!!!!!!
!!!!!!!!!!
DETECT 2 ROWS IN DATAFRAME ARE DUPLICATED
THEY ARE:
                     sodar_ws
t
2016-09-24 17:00:00      5.19
2016-09-24 17:10:00      4.03
REMOVE DUPLICATED ROWS
verify data again...
read in sodar_ws from 2016-09-24 00:00:00 to 2016-09-25 23:50:00 every 10 minutes, total of 287 files
!!!!!!!!!!
!!!!!!!!!!
WARNING: sodar_ws DATA FILE NUMBER (287) DOES NOT MATCH DESIRED DATA LENGTH (288.0), WHICH IS DEFINED BY DATA START TIME (2016-09-24 00:00:00), DATA END TIME (2016-09-25 23:50:00), AND USER-INPUT DATA FREQUENCY (10)
!!!!!!!!!!
!!!!!!!!!!
DETECT 1 ROWS IN DATAFRAME ARE MISSING
THEY ARE:
['2016-09-24 18:00:00']
verify data again...
read in sodar_ws from 2016-09-24 00:00:00 to 2016-09-25 23:50:00 every 10 minutes, total of 288 files
--- sodar_ws dataframe should have unique and continuous data ---
read in wrf_ws from 2016-09-23 12:00:00 to 2016-09-25 12:00:00 every 5 minutes, total of 577 files
--- wrf_ws dataframe should have unique and continuous data ---
evaluate sodar_ws, wrf_ws from 2016-09-24 00:00:00 to 2016-09-25 12:00:00 every 10.0 minutes, total of 217 time steps
!!!!!!!!!!
!!!!!!!!!!
WARNING: DESIERED EVALUATION DURATION DOES NOT MATCH DATA DURATION
DESIRED: FROM 2016-09-23 12:00:00 TO 2016-09-25 12:00:00
DATA: FROM 2016-09-24 00:00:00 TO 2016-09-25 12:00:00
!!!!!!!!!!
!!!!!!!!!!
!!!!!!!!!!
!!!!!!!!!!
WARNING: DATA FREQUENCY DOES NOT MATCH DESIRED EVALUATION PERIOD FREQUENCY
SHOULD HAVE 289.0 TIME STEPS IN DATA
ONLY HAVE 217 TIME STEPS IN DATA
!!!!!!!!!!
!!!!!!!!!!
for calculating metrics, removing the following time steps that contain NaN values:
['2016-09-24 18:00:00']
217
216
rmse: 0.684
bias: -0.684
bias_pct: -19.721
mae: 1.538
mae_pct: 37.09

In [5]:
import pandas as pd

i = pd.Series(index=pd.date_range('2018-04-09', periods=4, freq='1D20min'), data=np.NaN)

In [6]:
i

2018-04-09 00:00:00   NaN
2018-04-10 00:20:00   NaN
2018-04-11 00:40:00   NaN
2018-04-12 01:00:00   NaN
Freq: 1460T, dtype: float64

In [2]:
s = s.asfreq('m')

NameError: name 's' is not defined

In [2]:
df_marks = pd.DataFrame({'name': ['apple', 'banana', 'orange', 'mango'], 
                         'calories': [68, 74, 77, 78]})

In [3]:
df_marks

     name  calories
0   apple        68
1  banana        74
2  orange        77
3   mango        78

In [1]:
combine_df

NameError: name 'combine_df' is not defined

In [2]:
import itertools
data = [1,2,3,4,5,6]
for pair in itertools.combinations(data, 2):
    print(pair)
    print(pair[0])

(1, 2)
1
(1, 3)
1
(1, 4)
1
(1, 5)
1
(1, 6)
1
(2, 3)
2
(2, 4)
2
(2, 5)
2
(2, 6)
2
(3, 4)
3
(3, 5)
3
(3, 6)
3
(4, 5)
4
(4, 6)
4
(5, 6)
5

In [3]:
import sys
sys.executable

'/Users/leec813/opt/anaconda3/envs/ivalid/bin/python'

In [2]:
x = 'print(55)'
eval(x)

55